[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Trevor McCasland (trevormccasland)
[access "refs/for/refs/*"]
	read = group user/Trevor McCasland (trevormccasland)
	push = group user/Trevor McCasland (trevormccasland)
	label-Code-Review = -2..+2 group user/Trevor McCasland (trevormccasland)
	label-Verified = -1..+1 group user/Trevor McCasland (trevormccasland)
	rebase = group user/Trevor McCasland (trevormccasland)
	removeReviewer = group user/Trevor McCasland (trevormccasland)
	submit = group user/Trevor McCasland (trevormccasland)
[access "refs/heads/*"]
	read = group user/Trevor McCasland (trevormccasland)
	create = group user/Trevor McCasland (trevormccasland)
	push = +force group user/Trevor McCasland (trevormccasland)
	pushMerge = group user/Trevor McCasland (trevormccasland)
[access "refs/tags/*"]
	push = group user/Trevor McCasland (trevormccasland)
	push = +force group user/Trevor McCasland (trevormccasland)
